.team h1{
    text-align: center;
    margin-top: 50px;
    padding: 30px 0px;
}
.team img{
    margin-left: 10%;
}
.week1{
    /*padding: 100px 0px;*/
}
.week1 p{
    font-size: 16px;
    font-family: Tahoma;
    margin: 10px 0px;
    color: black;
}
.week1 h1{
    text-align: center;
}
.week1 h2{
    margin: 10px 0px ;
}
.week1 p i{
    /*color: #0b8eff;*/
    font-size: 10px;
    margin-left: 15px;
}
.week1 p .far{
    margin-left: 25px;
}
.week1 img{
    margin: 30px 50px ;
}
