#Design h4{
    margin-top: 40px;
    margin-bottom: 10px;
}
#Design h4 i{
    font-size: 10px;
    color: #0b8eff;
}
.img .far{
    font-size: 10px;
    color: #0b8eff;
    margin-left: 20px;
}
.img button{
    margin-top: 20px;
    background: #0b8eff;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 130px;
    height: 40px;
}
.img button a{
    color: white;
}
.img button:hover{
    background: #0a68ff;
    -webkit-box-shadow: -5px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 7px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -5px 7px 5px 0px rgba(0,0,0,0.75);
}
.img button a:hover{
    color: black;
}
#Implement .card .go-to{
    float: right;
    background: #4DBCFA;
    border: none;
    border-radius: 10px;
    outline: none;
    margin-top: 6px;
    width: 70px;
    height: 30px

}
#Implement .card .go-to a{
    color: white;
    font-size: 18px;
}
#Implement .card .go-to:hover{
    background: #17a5f5;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.32);
}
#Implement .card .go-to a:hover{
    color: black;

}