*{
    font-family: Tahoma;
}
#Design h4{
    margin-top: 40px;
    margin-bottom: 10px;
}
#Design h4 i{
    font-size: 10px;
    color: #0b8eff;
}
.card-body .far{
    font-size: 10px;
    color: #0b8eff;
    margin-left: 20px;
}
.card-body button{
    margin-top: 20px;
    background: #0b8eff;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 130px;
    height: 40px;
}
.card-body button a{
    color: white;
}
.card-body button:hover{
    background: #0a68ff;
    -webkit-box-shadow: -5px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 7px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -5px 7px 5px 0px rgba(0,0,0,0.75);
}
/*.card-body button a:hover{*/
/*    color: black;*/
/*}*/
#Implement .card .go-to{
    color: #007BFF;
    font-weight: normal;
    float: right;
    padding: 15px;
}