#Design h4{
    margin-top: 40px;
    margin-bottom: 10px;
}
#Design h4 i{
    font-size: 10px;
    color: #0b8eff;
}
.img .far{
    font-size: 10px;
    color: #0b8eff;
    margin-left: 20px;
}
.img button{
    margin-top: 20px;
    background: #0b8eff;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 150px;
    height: 40px;
}
.img button a{
    color: white;
}
.img button:hover{
    background: #0a68ff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.img button a:hover{
    color: black;
}